<div id="popups">
  <div class="popup_wrap">
    <div class="shade_wrap"></div>
    <div class="container_wrap">

      <h2>Password reset</h2>
      <p>Please, enter your e-mail</p>

<%= form_tag authorizme_password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>

</div>
</div>
</div>